# Python
__pycache__/
# 大文件目录 (9G+)
logs/*
rl_checkpoints/*
sft_ckpts/*
swanlog/
outputs/*
LLaMA-Factory/
# 数据集目录 (100G+)
dataset/*_files/*/

# 机器学习
*.ckpt
*.pth
*.bin
*.safetensors

# 系统文件
.DS_Store
Thumbs.db
*.log
.vscode/